<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <h3>Member List</h3>
    <hr/>
    개수 : <%= count %><br /><br />
    내용 : <br/><%# object로 표현해줘야 하기 때문에 반복문 사용 %>
    <% for(let tmp of rows) {%>
        <%= tmp.id %>
        <%= tmp.doc.name %>
        <%= tmp.doc.age %>
        <%= tmp.doc.phone %>
        <br/><br/>
    <% } %>
</body>
</html>